<% add_decidim_page_title(badge_edit_text) %>
<div class="item_show__header">
  <h1 class="item_show__header-title">
    <%= badge_edit_text %>
  </h1>
</div>

<div class="item__edit item__edit-1col">
  <div class="item__edit-form">
    <%= decidim_form_for(@form, html: { class: "form-defaults form edit_content_block" }, url: resource_landing_page_content_block_path) do |form| %>
      <%= render partial: "form", locals: { form: } %>
    <% end %>
  </div>
</div>